<!DOCTYPE html>

<html>

<head>
  <title>Face Tool</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <!-- arquivos de javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript" charset="UTF-8"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.16.2/lodash.min.js" type="text/javascript" charset="UTF-8"></script>
</head>


<style>
.destaque {
  color: red;
  font-weight: bold;  
  
}

.destaque a:visited {
	color: red;
  }
  
  .destaque a:hover {
	color: red;
  }


</style>

<script>

angular.module('app', []);
angular.module("app").controller("FaceController", function($scope, $http){
  $scope.ordenar = '2';
  $scope.totalLikes = true;
  $scope.linkUsuario = false;
  $scope.idObjeto = '1211135765625146'; 
  $scope.posts = [];
  $scope.limit = 20;
  $scope.viewLimit = 20;
  $scope.linkMsg = true;
  $scope.token = 'EAACEdEose0cBAICoifDkMjyakNlenTxOUiWM5esKWWV1lTLa6eiDlxbY6tyZAi4ZAfqsL2V1Cmp2jPNdNficFOWZBRzW2rcVEEjRlqI2eTqray905YhDchQOvILByr3dKEkRnuIJxiPnFjz8H2GLufZBGjMiv2lD8QLVFCVSKwZDZD';
  
  $scope.order = function(){
    var url = 'https://graph.facebook.com/' + $scope.idObjeto + '/comments?fields=message,from{name},like_count,created_time';
	url = url + '&limit=5000&access_token=' + $scope.token;
	console.log(url);
    $http.get(url).success(function(response){
      $scope.posts = response.data;
      console.log($scope.posts.length);
   if ($scope.ordenar == '2') {
      $scope.sorted = _.sortBy($scope.posts, ['like_count']).reverse();
	 } else {
	  $scope.sorted = _.sortBy($scope.posts, ['created_time']);
	 }
    }).error(function(data){
      console.log(data);
    });;
  }
  
  $scope.order();
  
  $scope.posts2 = [];
  $scope.limit2 = 100; 
  
  $scope.order2 = function(idPost){
  
  if (idPost != null) {
		var url2 = 'https://graph.facebook.com/' + idPost + '/likes?limit='+$scope.limit2+'&access_token=' + $scope.token;
		console.log(url2);
		$http.get(url2).success(function(response2){
		$scope.posts2 = response2.data;
		console.log($scope.posts2.length);
		$scope.myLikes = _.sortBy($scope.posts2, ['name']);

		}).error(function(data){
		  console.log(data);
		});;
	  }
  }
  
  $scope.order2($scope.idPost);
  
  
});

</script>


<body ng-app="app">


  <div ng-controller="FaceController">
     Token: <input type="text" ng-model="token" onfocus="this.select();" />
     Quantidade: <input type="text" ng-model="viewLimit" size="4" onfocus="this.select();" />
     ID Comentário: <input type="text" ng-model="idObjeto" onfocus="this.select();" />
<br>
<br>
  Exibir
     <input type="checkbox" ng-model="showMessage">Mensagem
	  <input type="checkbox" ng-model="totalLikes"> Total Likes
	   <input type="checkbox" ng-model="linkUsuario"> Link Usuário
<br>
<br>
    Ordenar por 
    <label>
		<input type="radio" ng-model="ordenar" ng-value="1">por Tempo
	</label>
	<label>
    <input type="radio" ng-model="ordenar" ng-value="2">por Likes
  </label>
<br>
<br>  
	 
	 Destacar Usuário <select name="usuarioDestaque" ng-model="selectedUsuario" ng-options="user.from.id as user.from.name for user in sorted | orderBy:'from.name'"></select>
<br>
<br>
     <button type="button" ng-click="order()">Recarregar</button>  	
<br>
     <table border=0 width="100%"> 
  <tr width="50%"><td>
		<h1> 
			<span ng-if="ordenar==1"}}>Ordem de Criação</span>
			<span ng-if="ordenar==2"}}>Ranking de Likes</span>
		</h1>
	
    </td> 
   <td>
 <h1> Curtiram: </h1>
    </td>
    </tr>
    <tr width="50%">
    <td valign="top" align="justify" width="50%">
    
    <div ng-repeat="post in sorted | limitTo: viewLimit">
     <div   ng-class="{destaque : post.from.id == selectedUsuario}">  
  
       {{$index+1}}º - <a ng-if="linkUsuario" href="https://www.facebook.com/{{post.from.id}}" target="_blank">{{post.from.name}} </a><span ng-if="!linkUsuario"}}> {{post.from.name}} </span>	   
	    <a href="#" ng-if="totalLikes" ng-click="order2(post.id)"> {{post.like_count}}</a>
	   <p ng-if="showMessage">: 
		   <a ng-if="linkMsg" href="https://www.facebook.com/{{idObjeto}}?comment_id={{post.id}}" target="_blank">
				{{post.message}}
			</a>
	   </p>    
     </div>
    </div>  
   
     </td>
    <td valign="top">    
     
    <div ng-repeat="post2 in myLikes | limitTo: limit2">  
    {{$index+1}} - {{post2.name}} 
    </div> 
  
  </td>
    </tr>
    </table>
   </div>
  
</body>

</html>