<!DOCTYPE html>

<html>

<head>
  <title>Face Tool</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <!-- arquivos de javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript" charset="UTF-8"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.16.2/lodash.min.js" type="text/javascript" charset="UTF-8"></script>
</head>


<style>
	font-family: "Arial";
	.destaque {
		color: red;
		font-weight: bold;  
	}

	.destaque a:visited {
		color: red;
	}

	.destaque a:hover {
		color: red;
	}

	.galeria {
		float:left;
		display:block;
		width: 100px;
	}
	
	.fundo1 {
		background-color: #d1d1e0;
	}
	
	.fundo2 {
		background-color: #f0f0f5;
	}

</style>

<script>

angular.module('app', []);
angular.module("app").controller("FaceController", function($scope, $http){
  $scope.ordenar = '2';
  $scope.clientSecret = '79cb9c39d470f5faf024de6dc13d6f4a';
  $scope.clientId = '479776352113968';
  $scope.totalLikes = true;
  $scope.idObjeto = '1211135765625146'; 
  $scope.posts = [];
  $scope.limit = 20;
  $scope.viewLimit = 20;
  $scope.linkMsg = true;
  $scope.token = 'EAACEdEose0cBAMCbP5foejrh75bZAKVez7QauBKeBsINB3GK0giARovQzWb8NNt2aOVV5h5JtHaRZAUzVdriRoFNWz8ZAgDpSwbUOQuPN1c1v8MAMvkrVUowS2YxTfZCYNVZAZAJW1bPDRFfOZCnZAkBz1RsP540K2rwhWjOMtID4gZDZD';
  
  $scope.order = function(){
	if ($scope.ordenar == '2') {
		$scope.sorted = _.sortBy($scope.posts, ['like_count']).reverse();
	} else {
		$scope.sorted = _.sortBy($scope.posts, ['created_time']);
	}
  }
  
  $scope.download = function (){
    var url = 'https://graph.facebook.com/' + $scope.idObjeto + '/comments?fields=message,from{name},like_count,created_time';
	url = url + '&limit=5000&access_token=' + $scope.token;
	url = url + '&client_id=' + $scope.clientId + '&client_secret=' + $scope.clientSecret + '&grant_type=fb_exchange_token';
	console.log(url);
    $http.get(url).success(function(response){
      $scope.posts = response.data;
	  $scope.order();
      console.log($scope.posts.length); 
    }).error(function(data){
      console.log(data);
    });;
  
  }
  
  $scope.download();
  
  $scope.posts2 = [];
  $scope.limit2 = 100; 
  
  $scope.order2 = function(idPost){
  
  if (idPost != null) {
		var url2 = 'https://graph.facebook.com/' + idPost + '/likes?limit='+$scope.limit2+'&access_token=' + $scope.token;
	    url2 = url2 + '&client_id=' + $scope.clientId + '&client_secret=' + $scope.clientSecret + '&grant_type=fb_exchange_token';
		console.log(url2);
		$http.get(url2).success(function(response2){
		$scope.posts2 = response2.data;
		console.log($scope.posts2.length);
		$scope.myLikes = _.sortBy($scope.posts2, ['name']);

		}).error(function(data){
		  console.log(data);
		});;
	  }
  }
  
  $scope.order2($scope.idPost);
  
  
});

</script>


<body ng-app="app">
<div ng-controller="FaceController">
<table border="0" width="100%" class="fundo2"> 
 <tr  width="50%"><td colspan="2">
     Token: <input type="text" ng-model="token" onfocus="this.select();" />
     Quantidade: <input type="text" ng-model="viewLimit" size="4" onfocus="this.select();" />
     ID Comentário: <input type="text" ng-model="idObjeto" onfocus="this.select();" />
</td></tr>
 <tr width="50%"><td colspan="2">
  Exibir
     <input type="checkbox" ng-model="showMessage">Mensagem
	  <input type="checkbox" ng-model="totalLikes"> Total Likes
</td></tr>
 <tr width="50%"><td colspan="2">
    Ordenar por 
    <label>
		<input type="radio" ng-model="ordenar" ng-change="order()" ng-value="1">por Tempo
	</label>
	<label>
    <input type="radio" ng-model="ordenar" ng-change="order()" ng-value="2">por Likes
  </label>
</td></tr>
 <tr width="50%"><td colspan="2">
	 
	 Destacar Usuário <select name="usuarioDestaque" ng-model="selectedUsuario" ng-options="user.from.id as user.from.name for user in sorted | orderBy:'from.name'"></select>
	 Filtrar Comentários: <input type="text" ng-model="filtroComentario" onfocus="this.select();" />
</td></tr>
 <tr width="50%"><td colspan="2">
     <button type="button" ng-click="download()">Recarregar</button>  	
</td></tr>
 <tr class="fundo2" width="50%"><td>
		<h1> 
			<span ng-if="ordenar==1"}}>Ordem de Criação</span>
			<span ng-if="ordenar==2"}}>Ranking de Likes</span>
		</h1>
	
    </td> 
   <td>
 <h1> Curtiram: </h1>
    </td>
    </tr>
    <tr width="50%">
    <td valign="top" align="justify" width="50%">
    
    <div ng-class-odd="'fundo1'" ng-class-even="'fundo2'"  ng-repeat="post in sorted | limitTo: viewLimit | filter: filtroComentario ">
	
     <div   ng-class="{destaque : post.from.id == selectedUsuario}">    
       {{$index+1}}º - 
	   <a href="https://www.facebook.com/{{post.from.id}}" target="_blank">
		<img ng-ref ng-src="https://graph.facebook.com/{{post.from.id}}/picture?access_token={{token}}"></img>
	   </a>
	 {{post.from.name}}
	    <a href="#" ng-if="totalLikes" ng-click="order2(post.id)"> {{post.like_count}}</a>
	   <p ng-if="showMessage">: 
		   <a ng-if="linkMsg" href="https://www.facebook.com/{{idObjeto}}?comment_id={{post.id}}" target="_blank">
				{{post.message}}
			</a>
	   </p>   
     </div>
    </div>  
   
     </td>
    <td valign="top">    
     
    <div class="galeria" ng-repeat="post2 in myLikes | limitTo: limit2">  
	{{$index+1}}
	<a href="https://www.facebook.com/{{post2.id}}" target="_blank">
		<img ng-ref ng-src="https://graph.facebook.com/{{post2.id}}/picture?access_token={{token}}"></img>	 
	</a>
	<br>
	{{post2.name}} 	
    </div> 
  
  </td>
    </tr>
    </table>
   </div>
  
</body>

</html>
